src/main/webapp/WEB-INF/hello.xsd

<xsd:schema targetNamespace="http://www.example.org/HelloService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:element name="ServiceRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="firstName" type="xsd:string" />
        <xsd:element name="lastName" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ServiceResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="greeting" type="xsd:string" />
        <xsd:element name="type" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>